<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Counter</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="static/lib/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

        <!-- Template Stylesheet -->
        <link href="static/css/admin_style.css" rel="stylesheet">
    </head>

    <body>
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand">Menu</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="/counter" class="nav-item nav-link">Home</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <!-- Nav Bar End -->




        <!-- Menu Start -->
        <div class="menu">
            <div class="container">
                <div class="section-header text-center">
                    <p>Food Menu</p>
                    <h2>Delicious Food Menu</h2>
                </div>
                <hr>
                <div class="menu-tab">
                    <ul class="nav nav-pills justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#burgers">Desert</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#snacks">Vegetarian</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#beverages">Non-vegetarian</a>
                        </li>
                    </ul>
                    <form action="/add-to-cart" method="post">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="flash-message {{ category }}" id="hideMe">
                                        <span>{{ message }}</span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    <div class="tab-content">
                        <div id="burgers" class="container tab-pane active">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class="menu-item">
                                        {% block content %}
                                            {% for data in dessert %}
                                       <!--<form method="post" action="/add-to-cart">-->
                                            <div class="menu-img">
                                                <img src="img/menu-burger.jpg" alt="Image">
                                            </div>
                                            <div class="menu-text">
                                                <input name="foodid" value="{{ data[0] }}">
                                                <h3><span name="food_name">{{ data[1] }}</span></h3>
                                                <h3><strong name="food_price">Rs:{{ data[2] }}</strong></h3>
                                                <br>
                                            </div>
                                            <div class="btn-menu-container">
                                                <div class='quantity'>
                                                    <button class="btn-menu">Add to cart</button>
                                                    <input type='button' value='-' class='qtyminus minus' field='quantity' />
                                                    <input type='number' name='quantity' value='1' class='qty' />
                                                    <input type='button' value='+' class='qtyplus plus' field='quantity' />
                                                    <input name="total" class="total-price" value="{{ data[2] }}">
                                                </div>
                                            </div>
                                        </form>
                                            {% endfor %}
                                    </div>
                                </div>
                                <div class="col-lg-5 d-none d-lg-block">
                                    <img src="img/menu-burger-img.jpg" alt="Image">
                                </div>
                            </div>
                        </div>
                        <div id="snacks" class="container tab-pane fade">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class="menu-item">
                                        {% for data in veg %}
                                        <div class="menu-img">
                                            <img src="img/menu-burger.jpg" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span name="food-name">{{ data[1] }}</span></h3>
                                            <h3><strong name="food-price">Rs:{{ data[2] }}</strong></h3>
                                            <br>
                                        </div>
                                        <div class="cart-btn">
                                            <button>Add to cart</button>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-lg-5 d-none d-lg-block">
                                    <img src="img/menu-snack-img.jpg" alt="Image">
                                </div>
                            </div>
                        </div>
                        <div id="beverages" class="container tab-pane fade">
                            <div class="row">
                                <div class="col-lg-7 col-md-12">
                                    <div class="menu-item">
                                        {% for data in nonveg %}
                                        <div class="menu-img">
                                            <img src="img/menu-burger.jpg" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span name="food-name">{{ data[1] }}</span></h3>
                                            <h3><strong name="food-price">Rs:{{ data[2] }}</strong></h3>
                                            <br>
                                        </div>
                                        <div class="cart-btn">
                                            <button>Add to cart</button>
                                        </div>
                                        {% endfor %}
                                        {% endblock %}
                                    </div>
                                </div>
                                <div class="col-lg-5 d-none d-lg-block">
                                    <img src="img/menu-beverage-img.jpg" alt="Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->



        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/static/lib/easing/easing.min.js"></script>
        <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/static/lib/tempusdominus/js/moment.min.js"></script>
        <script src="/static/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Contact Javascript File -->
        <script src="/static/mail/jqBootstrapValidation.min.js"></script>
        <script src="/static/mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="/static/js/main.js"></script>
    </body>
</html>
