<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menus</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
    <body>
        <div class="navbar">
            <a href="/home" class="active">Home</a>
            <div class="dish_dropdown">
                <button class="dish_dropbtn">Dishes
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dish-content">
                    <a href="/edit_dish">Desserts</a>
                    <a href="/veg_list">Veg</a>
                    <a href="/nonveg_list">Non-Veg</a>
                </div>
            </div>
            <div class="order_dropdown">
                <button class="order_dropbtn">Orders
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="order-content">
                    <a href="/receive">Received</a>
                    <a href="/complete">Completed</a>
                    <a href="/reject">Rejected</a>
                </div>
            </div>
            <a href="/contact">Payment</a>
            <a href="/about">About Us</a>

        </div>

    </body>
</html>